<html>

<head>
    <title>My Dynamic Page</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>

<body>
    <!-- <h1>Welcome, <%= data.name %>!</h1> -->
    <!-- <div id="chart" style="border: 5px solid; border-color: antiquewhite; "></div> -->
    <script>

        const lst = JSON.parse('<%= JSON.stringify(data.lst) %>');

        // let max = Math.max(...lst);
        // console.log(max)

        // console.log('env:', JSON.parse('<%= JSON.stringify(env) %>') );
        // env = setEnv("<%= env %>");
        
        const _env = {
            nodeParent: "<%= env.nodeParent %>",
            nodeTag: "<%= env.nodeTag %>",
            nodeId: "<%= env.nodeId %>",
            nodeClass: "<%= env.nodeClass %>",
            width: <%= env.width %>,
            height: <%= env.height %>,
            pWidth: <%= env.pWidth %>,
            xInterval: <%= env.xInterval %>,
            pHeight: <%= env.pHeight %>,
            graphColor: "<%= env.graphColor %>"
        };

        // console.log(_env);
        // console.log('#'+_env.nodeId); // #chart
        // console.log(_env.nodeParent, _env.nodeTag, _env.nodeId, _env.nodeClassName); // body, div, chart, ''

        function createChildNode(parent=null, tag=null, id=null, className=null) {
            console.log(parent, tag, id, className);

            if (tag == null) {
                tag = "div";
            }
            if (parent == null || parent == "" || parent == "body") {
                parent = document.body;
            }

            const node = document.createElement(tag);
            if (id != null || id != "") {
                node.id = id;
            }
            if (className != null || className != "") {
                node.className = className;
            }

            node.style.border = "5px solid";
            node.style.borderColor = "antiquewhite";

            parent.appendChild(node);
            return node;
        }

        function setGraph(id, data, env) {
            let max = Math.max(...data);    // 최대값

            // env.height 최대 높이
            // env.pHeight 최대 높이에 대한 1px당 값
            _h = env.height / max;
            // console.log(_h);

            // Create SVG element
            const svg = d3.select(id)
                .append("svg")
                .attr("width", env.width)
                .attr("height", env.height);

            // Create bars
            svg.selectAll("rect")
                .data(lst)
                .enter()
                .append("rect")
                .attr("x", (d, i) => i * (env.pWidth + env.xInterval))
                .attr("y", (d) => env.height - d * _h)
                .attr("width", env.pWidth)
                .attr("height", (d) => d * _h)
                .attr("fill", env.graphColor);
        }

        // createChildNode(null, "div", "chart");
        createChildNode(_env.nodeParent, _env.nodeTag, _env.nodeId, _env.nodeClassName);
        setGraph('#'+_env.nodeId, lst, _env);
    </script>
</body>

</html>